body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; /* Prevent scrollbars */
    background-color: rgb(7, 1, 54);
}

#grid {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
